:root {
  --white: #ffffff;
  --disabled: #a8b0b9;
  --alert: #f57375;
  --black: #000000;
  --primary: #03438d;
  --blue-100: #e2edfa;
  --secondary: #eec32a;
  --gray-200: #efece7;
  --gray-400: #00040029;
  --gray-500: #9b9893;
  --gray-600: #9b9893;
  --gray-700: #707070;
  --gray-800: #808080;
  --gray-900: #000400;
}
