.mt-text-btn {
  @include ts;
  border: none;
  background-color: transparent;
  color: var(--gray-900);
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    color: var(--primary);
  }
  &.radius-4 {
    border-radius: 4px;
  }
  &.black {
    @include ts;
    padding: 4px 24px;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--gray-900);
    cursor: pointer;
    &:hover {
      color: var(--white);
      background-color: var(--primary);
    }
  }
}
