//container

@mixin md {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.container {
  max-width: 869px;
  margin: 0 auto;
  @include md {
    max-width: calc(100% - 80px);
  }
  @include sm {
    max-width: calc(100% - 40px);
  }
}

.padding-49 {
  padding: 49px;
}
