@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

$base-font-size: 1rem;
$font-l: $base-font-size * 1.25;
$font-xxl: $base-font-size * 2.25;
$font-xl: $base-font-size * 1.5;
$base-line-height: 1.5;
$font-m: $base-font-size;
$font-s: $base-font-size * 0.875;
$font-xs: $base-font-size * 0.725;

/* font size */
.text-sm {
  font-size: $base-font-size * 0.875;
}
.text-base {
  font-size: $base-font-size;
}
.text-lg {
  font-size: $base-font-size * 1.125;
}
.text-xl {
  font-size: $base-font-size * 1.25;
}
.text-2xl {
  font-size: $base-font-size * 1.5;
}
.text-3xl {
  font-size: $base-font-size * 2;
}
.text-4xl {
  font-size: $base-font-size * 2.25;
}
.text-5xl {
  font-size: $base-font-size * 2.625;
}
.text-6xl {
  font-size: $base-font-size * 3;
}
