//通用類別、工具..

.logo-hide {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.fw-bold {
  font-weight: bold;
}

.div-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pos-sticky {
  position: sticky;
}

.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}
