//通用類別、工具..

.logo-hide {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.fw-bold {
  font-weight: bold;
}

.div-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pos-sticky {
  position: sticky;
}

.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.pos-sm-rel {
  @include sm {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
}

.center {
  margin: 0 auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.d-none {
  display: none;
}

.fixed-bottom {
  position: fixed;
  bottom: 8px;
  left: 8px;
}

.sm-d-block {
  @include sm {
    display: block;
  }
}

.text-align-center {
  text-align: center;
}

.sm-flex-column {
  @include sm {
    flex-direction: column;
  }
}
